<h1>Tasks</h1>

<ul>
  <% @tasks.each do |task| %>
    <li><input type="checkbox"<% if task.completed%>checked<% end %>><%= link_to "#{task.title}", task_path(task) %></li>
  <% end %>
</ul>

<p><%= link_to "+ Add new task", new_path() %></p>
